@font-face { 
    font-family: Open Sans; 
    src: url('OpenSans-Regular.ttf'); 
} 

body {
    padding    : 0;
    margin     : 0;
    text-align : center;
    font-family: 'Open Sans', serif;
    font-size: 14px;
    padding-top: 0;
}

#header {
    position        : absolute;
    top             : 0px;
    left            : 200px;
    right           : 0px;
    height          : 80px;
    background-color: #f2f2f2;
}

#sidebar {
    position        : fixed;
    text-align      : center;
    padding-top     : 0;
    top             : 0px;
    left            : 0px;
    bottom          : 0px;
    width           : 200px;
    background-color: #f2f2f2;
}

#parent {
    margin-top      : 0px;
    margin-bottom   : 120px;
    margin-left     : 200px;
    background-color: #e6e6e6;
}

#main-content {
    margin-top: 100px;
}


#bottom {
    position  : fixed;
    bottom    : 20px;
    text-align: center;
    width     : 200px;
    font-size : 12;
}

#footer {
    text-align: center;
    background:#f2f2f2;
    width:100%;
    height:30px;
    position:fixed;
    bottom:0;
    left:100px;
    right: 200px;
}


#store div {
    display: inline-block;
    margin: 0px;
    width: 300;
    height: 300;

    }

.hidden {
    display: none;
}







img {
    width: 80%;
    margin-top: 30px;
}

#sbimg img {
    width        : 150 !important;
    height       : 150 !important;
    margin-top   : 20 !important;
    margin-bottom: 0 !important;
}

#i1 img {
    margin-top: 100px;
    width: 40%
}

#i2 img {
    margin-top: 100px;
    width: 30%
}

#i3 img {
    margin-top: 100px;
    width: 20%
}

#im img {
    width: 20%
}



table {
    width     : 50%;
    text-align: center;
    padding-bottom: 100px;
}

#ti img {
    width:200px; height:auto;
}

tr {
  height: 20px;
}

td, th {
  width: 40px;
}



#v1 video {
    margin-top: 100;
    width: 200px;
}

#v2 video {
    margin-top: 100;
    width: 30%;
}



audio {
    width: 80%
}



a:link {
    color          : #000;
    text-decoration: none;
}

a:visited {
    color: #000;
}

a:hover {
    color: #009BCA;
}

.currentLink {
    color: #009BCA;
}

