body {
    padding    : 0;
    margin     : 0;
    text-align : center;
    font-family: 'Open Sans', serif;
    font-size: 14px;
    padding-top: 0;
}

#header {
    position        : absolute;
    top             : 0px;
    left            : 200px;
    right           : 0px;
    height          : 80px;
    background-color: #f2f2f2;
}

#sidebar {
    position        : fixed;
    text-align      : center;
    padding-top     : 0;
    top             : 0px;
    left            : 0px;
    bottom          : 0px;
    width           : 200px;
    background-color: #f2f2f2;
}

#parent {
    margin-top      : 0px;
    margin-bottom   : 120px;
    margin-left     : 200px;
    background-color: #e6e6e6;
}

#main-content {
    margin-top: 100px;
}

#bottomparent {
    position        : relative;
    background-color: green;
}

#bottom {
    position  : fixed;
    bottom    : 20px;
    text-align: center;
    width     : 200px;
    font-size : 12;
}

#store div {
    display: inline-block;
    margin: 0px;
    width: 300;
    height: 300;

    }

.hidden {
    display: none;
}



table {
    width     : 80%;
    text-align: center;
    padding-bottom: 100;
    border: 0px solid black;
}



img {
    width: 80%;
    padding-top: 30px;
}

#sbimg img {
    width        : 150 !important;
    height       : 150 !important;
    margin-top   : 0 !important;
    margin-bottom: 0 !important;
        max-width: 500px;
}

#i1 img {
    padding-top: 100px;
    width: 40%
}

#i2 img {
    padding-top: 100px;
    width: 30%
}

#i3 img {
    padding-top: 100px;
    width: 20%
}





#v1 video {
    padding-top: 100;
    width: 40%;
}

#v2 video {
    padding-top: 100;
    width: 30%;
}



audio {
    width        : 100%;
    margin-top   : 0 !important;
    margin-bottom: 0 !important;
}



a:link {
    color          : #000;
    text-decoration: none;
}

a:visited {
    color: #000;
}

a:hover {
    color: #009BCA;
}

.currentLink {
    color: #009BCA;
}









